.Writespace {
  background-color: #8da5a5;
  width: 100%;
  height: max-content;
  padding-bottom: 50px;
}

.Stage-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1000px;
}

.Stage-wrapper {
  width: fit-content;
  height: 1000px;
}

.WritespaceToolbar {
  position: sticky;
  background-color: #8da5a5;
}
